html, body {
  margin: 0;
  padding: 0;
  color: #aaa;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

body > div {
  margin: 2%;
}

/** { border: solid red 1px; }*/

#datetime {
  color: white;
  text-align: left;
  height: 15%;
}
#clock { font-size: 12vw; }
#date { font-size: 5vw; }


.flexwrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  height: 81%; /* 100 - datetime_height - 2*margin */
  gap: 15% 0;
}

.flexitem {
  width: 45%;
}

.flexitem > div {
  margin-op: 20px;
}

.spacer {
  height: 300px;
}

#quotewrap {
  font-size: 2vw;
  height: 250px;
  overflow: hidden;
}
#quote { font-style: italic; }

#weatherwrap {
  overflow: hidden;
  height: 500px;
}

#calendar {
  overflow: hidden;
  height: 500px;
}
.fader {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black 15%, rgba(0,0,0,0));
  position: relative;
  top: -600px;
}

#calendar > iframe {
  filter: grayscale(1) invert(1);
  opacity: 0.75;
  width: 100%;
  height: 600px;
  transform: scale(1.5) translate(15%,10%);
  z-index: -1;
}


#thisdayinhistory {
  text-align: center;
  font-size: 3vw;
  height: 12em;
  overflow: hidden;
}

#history {
  font-size: 2.5vw;
}

#notifications {
  text-align: center;
}

#pics > img {
  width: 100%;
}