html, body {
  margin: 0;
  padding: 0;
  color: #aaa;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body > div {
  margin: 2%;
}

/** { border: solid red 1px; }*/

#datetime {
  color: white;
  text-align: right;
}
#clock { font-size: 12vw; }
#date { font-size: 5vw; }


.flexwrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 85%;
}

.flexitem {
  width: 45%;
}

.flexitem > div {
  margin-top: 20px;
}

#quotewrap {
  font-size: 2vw;
}
#quote { font-style: italic; }

#weatherwrap {
  height: 75%;
}


#thisdayinhistory {
  text-align: center;
  font-size: 3vw;
}

#notifications {
  text-align: center;
}

#pics > img {
  width: 100%;
}